@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  font-family: "VT323", sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

button {
  cursor: pointer;
}

.landscape {
  height: 100vh;
  background-color: #fff8ef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landscape .landscape-content {
  width: 60%;
  height: 60%;
  background-color: #fff8ef;
  display: grid;
  grid-template-rows: 30px 1fr 2fr;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.landscape .landscape-content .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.landscape .landscape-content .topbar img {
  height: 20px;
}
.landscape .landscape-content .logo-bar {
  grid-row: 2/3;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.landscape .landscape-content .logo-bar img {
  height: 150px;
}
.landscape .landscape-content .error-message {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.landscape .landscape-content .content {
  grid-row: 2/4;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landscape .landscape-content .content .upper {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
  width: 60%;
  padding-top: 20px;
  -moz-column-gap: 5%;
       column-gap: 5%;
  margin-top: 5%;
}
.landscape .landscape-content .content .upper p {
  text-align: justify;
}
.landscape .landscape-content .content .upper img {
  justify-self: center;
  align-self: flex-start;
  grid-row: 1/3;
  filter: invert(100%);
  height: 150px;
}
.landscape .landscape-content .content .lower {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 10%;
  width: 90%;
}
.landscape .landscape-content .content .lower a {
  width: 40%;
}
.landscape .landscape-content .content .lower a button {
  width: 100%;
}
.landscape .landscape-content .content .lower button {
  width: 40%;
  height: 80px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-family: "VT323";
  font-size: 1.5rem;
  box-shadow: 5px 5px 0 1px #333333;
}
.landscape .landscape-content .content .lower button:active {
  box-shadow: inset 1px 1px 0 1px #333333;
}
.landscape .landscape-content .content .lower button:nth-of-type(2) {
  width: 50%;
  position: relative;
  top: -50px;
}
.landscape .landscape-content .content .infocontent {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
}
.landscape .landscape-content .content .infocontent .button {
  grid-column: 1/3;
  justify-self: flex-end;
  padding-right: 10px;
  padding-top: 10px;
}
.landscape .landscape-content .content .infocontent .button button {
  width: 40%;
  height: 80px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-family: "VT323";
  font-size: 1.5rem;
  box-shadow: 5px 5px 0 1px #333333;
  width: 100%;
  height: 40%;
  font-size: 1.2rem;
  padding: 0 10px 0 10px;
}
.landscape .landscape-content .content .infocontent .button button:active {
  box-shadow: inset 1px 1px 0 1px #333333;
}
.landscape .landscape-content .content .infocontent .item {
  padding: 2%;
}/*# sourceMappingURL=App.css.map */