@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  font-family: "VT323", sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

button {
  cursor: pointer;
}

.contentWindow {
  height: 98%;
  width: 98%;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
  position: absolute;
  display: grid;
  grid-template-rows: 30px 1fr;
  top: 1%;
  left: 1%;
}
.contentWindow .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.contentWindow .topbar .buttons {
  display: flex;
  gap: 10px;
}
.contentWindow .topbar .buttons div img {
  height: 20px;
}
.contentWindow .lower-bar {
  background-color: #9ad6ff;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #333333;
}
.contentWindow .lower-bar div {
  height: 100%;
  width: 25%;
  cursor: pointer;
  border-right: 3px solid #333333;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentWindow .lower-bar .active {
  background-color: #5aa9e6;
}
.contentWindow .content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentWindow .content canvas {
  border-radius: 10px;
  border: 3px solid #333333;
}

.hud {
  height: 12%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 85%;
  left: 0;
  display: grid;
  grid-template-rows: 40px 8fr 1fr;
  z-index: 1;
}
.hud .tutorial {
  position: absolute;
  background-color: #fff8ef;
  border: 3px solid #333333;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.hud .tutorial p {
  width: 80%;
}
.hud .tutorial button {
  margin-left: 60%;
}
.hud .one {
  top: 75%;
  left: 60%;
}
.hud .two {
  top: 5%;
  left: 40%;
}
.hud .three {
  top: 50%;
  left: 12%;
}
.hud .open-chapter-info {
  grid-row: 1/2;
  height: 40px;
  justify-self: center;
  cursor: pointer;
}
.hud .points {
  grid-row: 2/3;
}
.hud .points .point {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #5aa9e6;
  border: 3px solid #333333;
  border-radius: 10px;
  transition: all 0.25s;
  cursor: pointer;
}
.hud .notify-chapters {
  position: absolute;
  top: 0;
  width: 50%;
  left: 25%;
  background-color: #fff8ef;
  border: 3px solid #333333;
  border-radius: 10px;
  box-shadow: 5px 5px 0 1px #333333;
}
.hud .notify-chapters .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
  height: 20px;
}
.hud .notify-chapters .topbar img {
  height: 13px;
}
.hud .notify-chapters h1 {
  padding: 10px;
}
.hud .notify-chapters p {
  padding: 10px;
}
.hud .nav {
  position: absolute;
  height: 100%;
  width: 40%;
  left: 30%;
  justify-self: center;
  background-color: #fff8ef;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hud .nav .info {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  align-items: center;
  text-align: center;
}
.hud .nav .info div {
  grid-column: 2/3;
}
.hud .nav .info img {
  height: 30px;
  justify-self: center;
  cursor: pointer;
}
.hud .nav .buttons {
  display: flex;
  justify-content: space-around;
}
.hud .nav .buttons button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-family: "VT323";
  width: 40%;
  font-size: 1rem;
  cursor: pointer;
}
.hud .nav .buttons button:active {
  box-shadow: inset 1px 1px 0 1px #333333;
}

.popup {
  height: 90%;
  width: 80%;
  background-color: #fff8ef;
  border-radius: 10px;
  border: 3px solid #333333;
  position: absolute;
  top: 7%;
  left: 10%;
  z-index: 2;
  display: grid;
  grid-template-rows: min-content 1fr;
  color: #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.popup .nav {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}
.popup .nav .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
  justify-content: space-between;
}
.popup .nav .topbar h1 {
  font-size: 1.3rem;
}
.popup .nav .topbar .buttons {
  display: flex;
  gap: 10px;
}
.popup .nav .topbar .item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popup .nav .topbar .item img {
  height: 20px;
  width: 20px;
}
.popup .puzzleContent {
  grid-row: 2/3;
  display: flex;
  padding-top: 20px;
}
.popup .puzzleContent .instructions-puzzle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
}
.popup .puzzleContent .instructions-puzzle .content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 1fr;
}
.popup .puzzleContent .instructions-puzzle .content .input {
  height: 100%;
  display: grid;
  grid-template-rows: 4fr 1fr;
  margin-left: 50px;
}
.popup .puzzleContent .instructions-puzzle .content .input .instruction-input {
  padding: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #333333;
  border-radius: 10px;
  color: #5efc88;
  border: 10px solid black;
  box-shadow: inset 0 0 2px 5px black;
  align-self: center;
}
.popup .puzzleContent .instructions-puzzle .content .input .instruction-input div p {
  text-shadow: 1px 1px 5px #8ede9e, 1px 1px 5px #5db372;
  letter-spacing: 3px;
}
.popup .puzzleContent .instructions-puzzle .content .input .instruction-input div p span input {
  text-align: center;
  color: #5efc88;
  width: 50px;
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: 3px solid #5efc88;
}
.popup .puzzleContent .instructions-puzzle .content .result-container {
  display: grid;
  justify-self: center;
}
.popup .puzzleContent .instructions-puzzle .content .result-container .result {
  align-self: center;
  border: 3px solid #333333;
  border-radius: 7px;
  height: 500px;
  width: 500px;
}
.popup .puzzleContent .instructions-puzzle .content .result-container .result div {
  width: -moz-fit-content;
  width: fit-content;
}
.popup .puzzleContent .instructions-puzzle .content .result-container .result div img {
  height: 50px;
  background-color: #fff8ef;
  border-radius: 10px;
  border: 3px solid #333333;
  transform-origin: center;
}
.popup .puzzleContent .instructions-puzzle .content .controls {
  grid-column: 1/3;
  display: flex;
  padding: 20px;
  background-color: #5aa9e6;
  margin: 40px 60px 40px 60px;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.popup .puzzleContent .instructions-puzzle .content .controls .tutorial {
  position: relative;
  height: 30px;
  left: 97%;
  top: -15px;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons {
  flex: 1;
  grid-row: 2/3;
  display: flex;
  justify-content: space-around;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons .choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50%;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons .choices button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-family: "VT323";
  background-color: #fff8ef;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 0 1px #333333;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons .choices button:active {
  box-shadow: inset 1px 1px 0 1px #333333;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons .choices button:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons .choices button:nth-of-type(4) {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  width: 50%;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons .choices button:nth-of-type(2) {
  grid-row: 3/4;
  grid-column: 1/3;
  justify-self: center;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons .choices button:nth-of-type(3) {
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
  width: 50%;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons .choices button img {
  height: 30px;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons .logic {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons .logic button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-family: "VT323";
  width: 70%;
  font-size: 1.5rem;
  background-color: #fff8ef;
  box-shadow: 5px 5px 0 1px #333333;
}
.popup .puzzleContent .instructions-puzzle .content .controls .input-buttons .logic button:active {
  box-shadow: inset 1px 1px 0 1px #333333;
}
.popup .puzzleContent .instructions-puzzle .content .controls .buttons {
  flex: 1;
  align-self: center;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.popup .puzzleContent .instructions-puzzle .content .controls .buttons button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-family: "VT323";
  height: 80px;
  width: 160px;
  font-size: 2.5rem;
  background-color: #fff8ef;
  box-shadow: 5px 5px 0 1px #333333;
}
.popup .puzzleContent .instructions-puzzle .content .controls .buttons button:active {
  box-shadow: inset 1px 1px 0 1px #333333;
}
.popup .puzzleContent .bugFix-puzzle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.popup .puzzleContent .bugFix-puzzle .content {
  height: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 1fr;
}
.popup .puzzleContent .bugFix-puzzle .content .input {
  margin-left: 50px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 4fr 1fr;
}
.popup .puzzleContent .bugFix-puzzle .content .input .bug-fix-input {
  padding: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #333333;
  border-radius: 10px;
  color: #5efc88;
}
.popup .puzzleContent .bugFix-puzzle .content .input .bug-fix-input div p span input {
  text-align: center;
  color: #5efc88;
  width: 50px;
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: 3px solid #5efc88;
}
.popup .puzzleContent .bugFix-puzzle .content .result {
  justify-self: center;
  border: 3px solid #333333;
  border-radius: 7px;
  height: 500px;
  width: 500px;
  padding-left: 20px;
  position: relative;
}
.popup .puzzleContent .bugFix-puzzle .content .result img {
  position: relative;
  height: 50px;
  background-color: #fff8ef;
  border-radius: 10px;
  border: 3px solid #333333;
}
.popup .puzzleContent .bugFix-puzzle .content .buttons {
  justify-self: center;
  width: 60%;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  background-color: #5aa9e6;
  margin: 40px 60px 40px 60px;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.popup .puzzleContent .bugFix-puzzle .content .buttons button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-family: "VT323";
  background-color: #fff8ef;
  width: 160px;
  height: 60px;
  font-size: 2rem;
}
.popup .puzzleContent .bugFix-puzzle .content .buttons button:active {
  box-shadow: inset 1px 1px 0 1px #333333;
}
.popup .puzzleContent .cryptography-puzzle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.popup .puzzleContent .cryptography-puzzle .content {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 1fr;
}
.popup .puzzleContent .cryptography-puzzle .content .input {
  grid-column: 1/2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #333333;
}
.popup .puzzleContent .cryptography-puzzle .content .input .cryptography-input {
  padding: 30px;
}
.popup .puzzleContent .cryptography-puzzle .content .input .cryptography-input .clues {
  height: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff8ef;
  font-size: 20px;
}
.popup .puzzleContent .cryptography-puzzle .content .input .input-values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.popup .puzzleContent .cryptography-puzzle .content .input .input-values div {
  justify-self: center;
  align-self: flex-end;
}
.popup .puzzleContent .cryptography-puzzle .content .input .input-values input {
  height: 50px;
  width: 50px;
  font-size: 25px;
  text-align: center;
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 3px solid #5efc88;
  color: #5efc88;
  caret-color: #5efc88;
}
.popup .puzzleContent .cryptography-puzzle .content .input .input-values h3 {
  padding-top: 10px;
  justify-self: center;
  color: #fff8ef;
}
.popup .puzzleContent .cryptography-puzzle .content .result {
  border-left: 3px solid #333333;
  grid-column: 2/3;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 1.5rem;
  background-color: #333333;
}
.popup .puzzleContent .cryptography-puzzle .content .result img {
  height: 30px;
  margin-right: 5px;
}
.popup .puzzleContent .cryptography-puzzle .content .result .part-one {
  flex: 1;
  height: 50px;
}
.popup .puzzleContent .cryptography-puzzle .content .result .part-two {
  flex: 1;
  height: 50px;
  text-align: center;
}
.popup .puzzleContent .cryptography-puzzle .content .result .part-three {
  flex: 1;
  height: 50px;
  text-align: center;
}
.popup .puzzleContent .cryptography-puzzle .content .result .red {
  border-bottom: 3px solid #ffa2a2;
}
.popup .puzzleContent .cryptography-puzzle .content .result .green {
  border-bottom: 3px solid #a1ffba;
}
.popup .puzzleContent .cryptography-puzzle .content .buttons {
  justify-self: center;
  width: 60%;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  background-color: #5aa9e6;
  margin: 40px 60px 40px 60px;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.popup .puzzleContent .cryptography-puzzle .content .buttons button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-family: "VT323";
  background-color: #fff8ef;
  width: 160px;
  height: 60px;
  font-size: 2rem;
}
.popup .puzzleContent .cryptography-puzzle .content .buttons button:active {
  box-shadow: inset 1px 1px 0 1px #333333;
}
.popup .win-condition {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  z-index: 3;
  background-color: #fff8ef;
  border: 3px solid #333333;
  border-radius: 10px;
}
.popup .win-condition .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.popup .win-condition .content {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.popup .win-condition .content .info {
  text-align: center;
}
.popup .win-condition .content .win-image img {
  height: 200px;
}
.popup .win-condition .content .buttons button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-family: "VT323";
  margin-right: 40px;
  width: 200px;
  font-size: 1.2rem;
}
.popup .win-condition .content .buttons button:active {
  box-shadow: inset 1px 1px 0 1px #333333;
}

.splash {
  height: 100vh;
  background-color: #fff8ef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash .login-splash {
  position: absolute;
  left: 10px;
  top: 10px;
  border: 3px solid #333333;
  border-radius: 10px;
}
.splash .login-splash .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.splash .login-splash .topbar .buttons {
  display: flex;
  gap: 10px;
}
.splash .login-splash .topbar .buttons div img {
  height: 20px;
}
.splash .login-splash h3 {
  padding: 5px;
}
.splash .splash-content {
  width: 40%;
  height: 70%;
  background-color: #fff8ef;
  display: grid;
  grid-template-rows: 20px 30px 1fr;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
  gap: 10px;
}
.splash .splash-content .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.splash .splash-content .topbar .buttons {
  display: flex;
  gap: 10px;
}
.splash .splash-content .topbar .buttons div img {
  height: 20px;
}
.splash .splash-content .lower-bar {
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  display: flex;
}
.splash .splash-content .lower-bar button {
  flex: 1;
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.4rem;
  font-family: "VT323";
  border-right: 3px solid black;
}
.splash .splash-content .lower-bar button:last-of-type {
  border: none;
}
.splash .splash-content .lower-bar .inactive {
  background-color: rgb(162, 162, 162);
  cursor: default;
}
.splash .splash-content .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.splash .splash-content .login img {
  height: 120px;
  width: 20%;
}
.splash .splash-content .login .swap p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.splash .splash-content .login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 20px;
}
.splash .splash-content .login form input {
  height: 50px;
  width: 80%;
  padding-left: 10px;
  outline: none;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
  font-family: "VT323";
  font-size: 1.25rem;
}
.splash .splash-content .login form div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 20px;
}
.splash .splash-content .login form div input {
  height: 20px;
  width: 20px;
  box-shadow: 3px 3px 0 1px #333333;
}
.splash .splash-content .login form button {
  height: 50px;
  width: 60%;
  background-color: white;
  outline: none;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.splash .splash-content .logo-bar {
  grid-row: 3/4;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.splash .splash-content .logo-bar .logo-text {
  background-color: transparent;
}
.splash .splash-content .logo-bar img {
  height: 180px;
}
.splash .splash-content .nav {
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-self: center;
  width: 90%;
  justify-content: space-around;
}
.splash .splash-content .nav .card {
  background-color: #9ad6ff;
  border-radius: 10px;
  border: 3px solid #333333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 0 1px #333333;
  height: 80%;
  width: 85%;
  cursor: pointer;
}
.splash .splash-content .nav .card h3 {
  text-align: center;
}
.splash .splash-content .nav .card p {
  text-align: center;
}

.stats {
  height: 100vh;
  background-color: #fff8ef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats .stats-content {
  width: 80%;
  height: 80%;
  background-color: #fff8ef;
  display: grid;
  grid-template-rows: 20px 1fr 2fr;
  gap: 20px;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.stats .stats-content .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
  justify-content: space-between;
}
.stats .stats-content .topbar img {
  height: 20px;
  cursor: pointer;
}
.stats .stats-content .logo-bar {
  grid-row: 2/3;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.stats .stats-content .logo-bar img {
  height: 150px;
}
.stats .stats-content .nav {
  grid-row: 3/4;
  display: flex;
  gap: 30px;
  justify-self: center;
  width: 90%;
  justify-content: space-around;
}
.stats .stats-content .nav .card {
  background-color: #9ad6ff;
  border-radius: 10px;
  border: 3px solid #333333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  box-shadow: 5px 5px 0 1px #333333;
  height: 90%;
  width: 20%;
  cursor: pointer;
}
.stats .stats-content .nav .card p {
  text-align: center;
}

.make-puzzle {
  height: 100vh;
  background-color: #fff8ef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.make-puzzle .make-puzzle-content {
  width: 90%;
  height: 90%;
  background-color: #fff8ef;
  display: grid;
  grid-template-rows: 30px 40px 2fr;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.make-puzzle .make-puzzle-content .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  padding: 0;
}
.make-puzzle .make-puzzle-content .topbar img {
  height: 20px;
  cursor: pointer;
}
.make-puzzle .make-puzzle-content .lower-bar {
  background-color: #9ad6ff;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #333333;
}
.make-puzzle .make-puzzle-content .lower-bar div {
  height: 100%;
  width: 25%;
  cursor: pointer;
  border-right: 3px solid #333333;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.make-puzzle .make-puzzle-content .lower-bar .active {
  background-color: #5aa9e6;
}
.make-puzzle .make-puzzle-content .content {
  max-height: 100%;
}
.make-puzzle .make-puzzle-content .content .puzzle-manager {
  display: flex;
  height: 100%;
}
.make-puzzle .make-puzzle-content .content .puzzle-manager .puzzle-list {
  flex: 1;
  padding: 10px;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.make-puzzle .make-puzzle-content .content .puzzle-manager .puzzle-list .card {
  width: 300px;
  height: 100px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 4fr 1fr;
  background-color: #9ad6ff;
  border-radius: 10px;
  border: 3px solid #333333;
  padding-left: 10px;
}
.make-puzzle .make-puzzle-content .content .puzzle-manager .puzzle-list .card h3 {
  grid-column: 1/3;
}
.make-puzzle .make-puzzle-content .content .puzzle-manager .puzzle-list .card img {
  height: 30px;
}
.make-puzzle .make-puzzle-content .content .creator {
  max-height: 100%;
  display: flex;
}
.make-puzzle .make-puzzle-content .content .creator .puzzleTypePicker {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 30px;
}
.make-puzzle .make-puzzle-content .content .creator .puzzleTypePicker .card {
  border: 3px solid #333333;
  border-radius: 10px;
  background-color: #9ad6ff;
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.make-puzzle .make-puzzle-content .content .creator .puzzleTypePicker .active {
  background-color: #5aa9e6;
}
.make-puzzle .make-puzzle-content .content .creator .puzzleCreatorForm {
  flex: 3;
  max-height: 1000px;
  padding: 30px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
}
.make-puzzle .make-puzzle-content .content .creator .puzzleCreatorForm img {
  height: 100px;
}
.make-puzzle .make-puzzle-content .content .creator .puzzleCreatorForm .image {
  display: flex;
  justify-content: space-around;
}
.make-puzzle .make-puzzle-content .content .creator .puzzleCreatorForm .loc {
  display: flex;
}
.make-puzzle .make-puzzle-content .content .creator .puzzleCreatorForm .loc input {
  height: 50%;
}

.landscape {
  height: 100vh;
  background-color: #fff8ef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landscape .landscape-content {
  width: 60%;
  height: 60%;
  background-color: #fff8ef;
  display: grid;
  grid-template-rows: 20px 1fr 2fr;
  gap: 20px;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.landscape .landscape-content .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.landscape .landscape-content .topbar img {
  height: 20px;
}
.landscape .landscape-content .logo-bar {
  grid-row: 2/3;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.landscape .landscape-content .logo-bar img {
  height: 150px;
}
.landscape .landscape-content .error-message {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.loading {
  height: 100vh;
  background-color: #333333;
  color: #fff8ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.loading p {
  width: 50%;
}
.loading button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-family: "VT323";
}
.loading button:active {
  box-shadow: inset 1px 1px 0 1px #333333;
}

.intro {
  height: 100%;
  color: #fff8ef;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  gap: 60px;
}
.intro img {
  position: relative;
  height: 200px;
  top: -200px;
  left: 600px;
  opacity: 0;
  cursor: pointer;
  transition: all;
}
.intro img:hover {
  transform: scale(110%);
}

.dialogue-container {
  position: relative;
  top: -22%;
  left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  background-color: #fff8ef;
  border-radius: 10px;
  border: 3px solid #333333;
}
.dialogue-container .dialogue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
}
.dialogue-container .dialogue img {
  height: 90px;
  padding-bottom: 10px;
}
.dialogue-container .dialogue p {
  padding: 20px;
}

.progress {
  display: flex;
  width: 100%;
  padding: 10px;
  gap: 10px;
}
.progress .bg {
  flex: 1;
  margin: 20px;
  box-shadow: 5px 5px 0 1px #333333;
  border: 3px solid #333333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.progress .bg .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: rgb(30, 30, 30);
}
.progress .bg .info .title {
  background-color: rgba(53, 231, 133, 0.6);
  padding: 10px;
  border-radius: 7px 7px 0 0;
}
.progress .bg .info .cards {
  height: 50%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.progress .bg .info .cards .card {
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(53, 231, 133, 0.6);
  border-radius: 50px;
}
.progress .bg .info .cards .one {
  margin-left: 20px;
}
.progress .bg .info .cards .two {
  margin-left: 45px;
}
.progress .bg .info .cards .three {
  margin-left: 85px;
}
.progress .bg-2 .info .title {
  background-color: rgba(154, 214, 255, 0.6);
}
.progress .bg-2 .info .cards .card {
  background-color: rgba(154, 214, 255, 0.6);
}
.progress .bg-3 .info .title {
  background-color: rgba(90, 255, 189, 0.6);
}
.progress .bg-3 .info .cards .card {
  background-color: rgba(90, 255, 189, 0.6);
}
.progress .bg-4 .info .title {
  background-color: rgba(213, 167, 66, 0.7);
}
.progress .bg-4 .info .cards .card {
  background-color: rgba(210, 164, 66, 0.7);
}

.leaderboard {
  display: flex;
}
.leaderboard .board {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 40px;
}
.leaderboard .board .card {
  display: flex;
  font-size: 30px;
  justify-content: center;
  gap: 40px;
}
.leaderboard .board .card .number {
  background-color: #5aa9e6;
  height: 50px;
  width: 50px;
  color: #fff8ef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.leaderboard .addToBoard {
  flex: 1;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 90px;
  font-size: 30px;
}
.leaderboard .addToBoard .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leaderboard .addToBoard .title h1 {
  text-align: center;
}
.leaderboard .addToBoard .nameInput {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.leaderboard .addToBoard .currentScore {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tutorial {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.tutorial ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tutorial ul li {
  font-size: 1rem;
}

.eggContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}
.eggContainer canvas {
  border: 6px solid #fff8ef;
  border-radius: 10px;
}/*# sourceMappingURL=App.css.map */