@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  font-family: "Red Hat Mono";
}

.background {
  height: 99.5vh;
}
.background img {
  height: 100%;
  width: 100%;
}

.hud {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 8fr 1fr;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
}
.hud .points {
  grid-row: 1/2;
  grid-column: 1/3;
}
.hud .points .point {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #5aa9e6;
  border: 3px solid #333333;
  border-radius: 10px;
  transition: all 0.25s;
  cursor: pointer;
}
.hud .notify-chapters {
  position: absolute;
  top: 0;
  width: 50%;
  left: 25%;
  background-color: #fff8ef;
  border: 3px solid #333333;
  border-radius: 10px;
  box-shadow: 5px 5px 0 1px #333333;
}
.hud .notify-chapters .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
  height: 20px;
}
.hud .notify-chapters .topbar img {
  height: 13px;
}
.hud .notify-chapters h1 {
  padding: 10px;
}
.hud .notify-chapters p {
  padding: 10px;
}
.hud .nav {
  grid-row: 2/3;
  grid-column: 1/3;
  width: 80%;
  justify-self: center;
  background-color: #fff8ef;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20px 1fr;
}
.hud .nav .topbar {
  grid-column: 1/3;
  grid-row: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
  height: 20px;
}
.hud .nav .topbar img {
  height: 13px;
}
.hud .nav .lowerNav {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 20px 0 20px;
  color: #333333;
}
.hud .nav .lowerNav div {
  display: flex;
  gap: 20px;
}
.hud .nav .lowerNav div .item {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hud .nav .lowerNav div .item img {
  height: 30px;
  width: 30px;
}
.hud .nav .side-nav {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hud .nav .side-nav .item {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hud .nav .side-nav .item img {
  height: 65%;
  width: 65%;
}

.popup {
  height: 80%;
  width: 80%;
  background-color: #fff8ef;
  border-radius: 10px;
  border: 3px solid #333333;
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: 2;
  display: grid;
  grid-template-rows: min-content 1fr;
  color: #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.popup .nav {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}
.popup .nav .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
  justify-content: space-between;
}
.popup .nav .topbar h1 {
  font-size: 1.3rem;
}
.popup .nav .topbar .buttons {
  display: flex;
  gap: 10px;
}
.popup .nav .topbar .item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popup .nav .topbar .item img {
  height: 20px;
  width: 20px;
}
.popup .puzzleContent {
  grid-row: 2/3;
  display: flex;
  padding-top: 20px;
}
.popup .puzzleContent .instructions-puzzle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
}
.popup .puzzleContent .instructions-puzzle .content {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.popup .puzzleContent .instructions-puzzle .content .input {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-rows: 4fr 1fr;
  gap: 10px;
}
.popup .puzzleContent .instructions-puzzle .content .input .instruction-input {
  padding: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #333333;
  border-radius: 10px;
  color: #5efc88;
  border: 10px solid black;
  box-shadow: inset 0 0 2px 5px black;
  align-self: center;
}
.popup .puzzleContent .instructions-puzzle .content .input .instruction-input div p span input {
  text-align: center;
  color: #5efc88;
  width: 50px;
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: 3px solid #5efc88;
}
.popup .puzzleContent .instructions-puzzle .content .input .input-buttons {
  grid-row: 2/3;
  display: flex;
  justify-content: space-around;
}
.popup .puzzleContent .instructions-puzzle .content .input .input-buttons .choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50%;
}
.popup .puzzleContent .instructions-puzzle .content .input .input-buttons .choices button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .puzzleContent .instructions-puzzle .content .input .input-buttons .choices button:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
}
.popup .puzzleContent .instructions-puzzle .content .input .input-buttons .choices button:nth-of-type(4) {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  width: 50%;
}
.popup .puzzleContent .instructions-puzzle .content .input .input-buttons .choices button:nth-of-type(2) {
  grid-row: 3/4;
  grid-column: 1/3;
  justify-self: center;
}
.popup .puzzleContent .instructions-puzzle .content .input .input-buttons .choices button:nth-of-type(3) {
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
  width: 50%;
}
.popup .puzzleContent .instructions-puzzle .content .input .input-buttons .choices button img {
  height: 30px;
}
.popup .puzzleContent .instructions-puzzle .content .input .input-buttons .logic {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.popup .puzzleContent .instructions-puzzle .content .input .input-buttons .logic button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-size: 1.5rem;
  width: 50%;
}
.popup .puzzleContent .instructions-puzzle .content .result-container {
  display: grid;
  grid-template-rows: 4fr 1fr;
  gap: 10px;
}
.popup .puzzleContent .instructions-puzzle .content .result-container .result {
  align-self: center;
  border: 3px solid #333333;
  border-radius: 7px;
  height: 500px;
  width: 500px;
  padding-left: 20px;
  position: relative;
}
.popup .puzzleContent .instructions-puzzle .content .result-container .result img {
  position: relative;
  height: 50px;
}
.popup .puzzleContent .instructions-puzzle .content .result-container .buttons {
  align-self: center;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.popup .puzzleContent .instructions-puzzle .content .result-container .buttons button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-size: 1.5rem;
}
.popup .puzzleContent .bugFix-puzzle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.popup .puzzleContent .bugFix-puzzle .content {
  height: 85%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.popup .puzzleContent .bugFix-puzzle .content .input {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-rows: 4fr 1fr;
}
.popup .puzzleContent .bugFix-puzzle .content .input .bug-fix-input {
  padding: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #333333;
  border-radius: 10px;
  color: #5efc88;
}
.popup .puzzleContent .bugFix-puzzle .content .input .bug-fix-input div p span input {
  text-align: center;
  color: #5efc88;
  width: 50px;
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: 3px solid #5efc88;
}
.popup .puzzleContent .bugFix-puzzle .content .result {
  border: 3px solid #333333;
  border-radius: 7px;
  height: 500px;
  width: 500px;
  padding-left: 20px;
  position: relative;
}
.popup .puzzleContent .bugFix-puzzle .content .result img {
  position: relative;
  height: 50px;
}
.popup .puzzleContent .bugFix-puzzle .buttons {
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid #333333;
}
.popup .puzzleContent .bugFix-puzzle .buttons button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-size: 1.5rem;
}
.popup .puzzleContent .cryptography-puzzle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.popup .puzzleContent .cryptography-puzzle .content {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.popup .puzzleContent .cryptography-puzzle .content .input {
  grid-column: 1/2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr 4fr;
  background-color: #333333;
}
.popup .puzzleContent .cryptography-puzzle .content .input .parts-buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  border-bottom: 3px solid #5efc88;
}
.popup .puzzleContent .cryptography-puzzle .content .input .parts-buttons button {
  background-color: inherit;
  border: none;
  color: #fff8ef;
  font-size: 25px;
}
.popup .puzzleContent .cryptography-puzzle .content .input .cryptography-input {
  padding: 30px;
}
.popup .puzzleContent .cryptography-puzzle .content .input .cryptography-input .clues {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff8ef;
}
.popup .puzzleContent .cryptography-puzzle .content .input .input-values {
  display: flex;
  justify-content: space-around;
}
.popup .puzzleContent .cryptography-puzzle .content .input .input-values input {
  height: 100px;
  width: 100px;
  font-size: 50px;
  text-align: center;
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 3px solid #5efc88;
  color: #5efc88;
  caret-color: #5efc88;
}
.popup .puzzleContent .cryptography-puzzle .content .result {
  border-left: 3px solid #333333;
  grid-column: 2/3;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
}
.popup .puzzleContent .cryptography-puzzle .content .result .part-one {
  flex: 1;
  height: 50px;
  text-align: center;
}
.popup .puzzleContent .cryptography-puzzle .content .result .part-two {
  flex: 1;
  height: 50px;
  text-align: center;
}
.popup .puzzleContent .cryptography-puzzle .content .result .part-three {
  flex: 1;
  height: 50px;
  text-align: center;
}
.popup .puzzleContent .cryptography-puzzle .buttons {
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid #333333;
}
.popup .puzzleContent .cryptography-puzzle .buttons button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-size: 1.5rem;
}
.popup .win-condition {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  z-index: 3;
  background-color: #fff8ef;
  border: 3px solid #333333;
  border-radius: 10px;
}
.popup .win-condition .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.popup .win-condition .content {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.popup .win-condition .content .info {
  text-align: center;
}
.popup .win-condition .content .win-image img {
  height: 200px;
}
.popup .win-condition .content .buttons button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-size: 1.5rem;
  margin-right: 40px;
  width: 200px;
  font-size: 1.2rem;
}

.splash {
  height: 100vh;
  background-color: #fff8ef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash .splash-content {
  width: 60%;
  height: 60%;
  background-color: #fff8ef;
  display: grid;
  grid-template-rows: 20px 1fr 2fr;
  gap: 20px;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.splash .splash-content .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.splash .splash-content .topbar img {
  height: 20px;
}
.splash .splash-content .logo-bar {
  grid-row: 2/3;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.splash .splash-content .logo-bar img {
  height: 150px;
}
.splash .splash-content .nav {
  grid-row: 3/4;
  display: flex;
  gap: 30px;
  justify-self: center;
  width: 90%;
  justify-content: space-around;
}
.splash .splash-content .nav .card {
  background-color: #9ad6ff;
  border-radius: 10px;
  border: 3px solid #333333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  box-shadow: 5px 5px 0 1px #333333;
  height: 90%;
  width: 20%;
  cursor: pointer;
}
.splash .splash-content .nav .card p {
  text-align: center;
}

.stats {
  height: 100vh;
  background-color: #fff8ef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats .stats-content {
  width: 80%;
  height: 80%;
  background-color: #fff8ef;
  display: grid;
  grid-template-rows: 20px 1fr 2fr;
  gap: 20px;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.stats .stats-content .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
  justify-content: space-between;
}
.stats .stats-content .topbar img {
  height: 20px;
  cursor: pointer;
}
.stats .stats-content .logo-bar {
  grid-row: 2/3;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.stats .stats-content .logo-bar img {
  height: 150px;
}
.stats .stats-content .nav {
  grid-row: 3/4;
  display: flex;
  gap: 30px;
  justify-self: center;
  width: 90%;
  justify-content: space-around;
}
.stats .stats-content .nav .card {
  background-color: #9ad6ff;
  border-radius: 10px;
  border: 3px solid #333333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  box-shadow: 5px 5px 0 1px #333333;
  height: 90%;
  width: 20%;
  cursor: pointer;
}
.stats .stats-content .nav .card p {
  text-align: center;
}

.settings {
  height: 60%;
  width: 20%;
  background-color: #fff8ef;
  border-radius: 10px;
  border: 3px solid #333333;
  position: absolute;
  top: 25%;
  left: 70%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.settings .top-bar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.settings .dark-light {
  color: #333333;
  display: flex;
  justify-content: center;
}
.settings .dark-light button {
  height: 50px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  border: 3px solid #333333;
  border-radius: 10px;
  background-color: #9ad6ff;
  box-shadow: 5px 5px 0 1px #333333;
}
.settings .dark-light button:hover {
  background-color: #5aa9e6;
}
.settings .dark-light button:active {
  box-shadow: none;
}
.settings .color-choices {
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.settings .color-choices select {
  width: 70%;
  height: 50%;
  outline: none;
  font-weight: 600;
  border: 3px solid #333333;
  border-radius: 10px;
  background-color: #9ad6ff;
  box-shadow: 5px 5px 0 1px #333333;
}
.settings .color-choices button {
  height: 50px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  border: 3px solid #333333;
  border-radius: 10px;
  background-color: #9ad6ff;
  box-shadow: 5px 5px 0 1px #333333;
}
.settings .color-choices button:hover {
  background-color: #5aa9e6;
}
.settings .color-choices button:active {
  box-shadow: none;
}

.leaderboard {
  height: 60%;
  width: 20%;
  background-color: #fff8ef;
  border-radius: 10px;
  border: 3px solid #333333;
  position: absolute;
  top: 25%;
  left: 70%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #333333;
  box-shadow: 5px 5px 0 1px #333333;
  align-items: center;
}
.leaderboard .top-bar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.leaderboard .board {
  width: 80%;
}
.leaderboard .board .card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 20px;
}
.leaderboard .board .card .number {
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: start;
  align-self: center;
  background-color: #5aa9e6;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #333333;
  border-radius: 7px;
}
.leaderboard .board .card .number img {
  height: 30px;
}
.leaderboard .board .card h4 {
  grid-column: 2/3;
  text-align: end;
}
.leaderboard .board .card p {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: end;
}

.progress {
  height: 60%;
  width: 20%;
  background-color: #fff8ef;
  border-radius: 10px;
  border: 3px solid #333333;
  position: absolute;
  top: 25%;
  left: 70%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.progress .top-bar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.progress .point {
  background-color: #5aa9e6;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 3px solid #333333;
}
.progress .one {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 500px;
  left: 40px;
}
.progress .two {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 350px;
  left: 100px;
}
.progress .three {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 200px;
  left: 100px;
}
.progress .four {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  left: 50px;
}

.classroom {
  height: 60%;
  width: 20%;
  background-color: #fff8ef;
  border-radius: 10px;
  border: 3px solid #333333;
  position: absolute;
  top: 25%;
  left: 70%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #333333;
  box-shadow: 5px 5px 0 1px #333333;
  left: 10%;
}
.classroom .top-bar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.classroom .dark-light {
  color: #333333;
}
.classroom .color-choices {
  color: #333333;
}

.chat {
  height: 60%;
  width: 20%;
  background-color: #fff8ef;
  border-radius: 10px;
  border: 3px solid #333333;
  position: absolute;
  top: 25%;
  left: 70%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #333333;
  box-shadow: 5px 5px 0 1px #333333;
  left: 10%;
}
.chat .top-bar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.chat .dark-light {
  color: #333333;
}
.chat .color-choices {
  color: #333333;
}

.landscape {
  height: 100vh;
  background-color: #fff8ef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landscape .landscape-content {
  width: 60%;
  height: 60%;
  background-color: #fff8ef;
  display: grid;
  grid-template-rows: 20px 1fr 2fr;
  gap: 20px;
  border-radius: 10px;
  border: 3px solid #333333;
  box-shadow: 5px 5px 0 1px #333333;
}
.landscape .landscape-content .topbar {
  grid-row: 1/2;
  width: 100%;
  height: 30px;
  background-color: #5aa9e6;
  border-bottom: 3px solid #333333;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 10px;
}
.landscape .landscape-content .topbar img {
  height: 20px;
}
.landscape .landscape-content .logo-bar {
  grid-row: 2/3;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.landscape .landscape-content .logo-bar img {
  height: 150px;
}
.landscape .landscape-content .error-message {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.loading {
  height: 100vh;
  background-color: #333333;
  color: #fff8ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.loading p {
  width: 50%;
}
.loading button {
  width: 20%;
  height: 40px;
  background-color: #9ad6ff;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #333333;
  font-size: 1.5rem;
}

/*# sourceMappingURL=App.css.map */
